header{
  position: relative;
  width: inherit;
  top: 1.25rem;

  z-index: 1;

  & nav {
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    width: 100%;

    & .logo {
      background: url(../assets/icon/logo-symbol.svg) no-repeat center/contain;
      width: 3.625rem;
      height: 3rem;
      z-index: 1;
    }

    & .button {
      position: relative;
      justify-content: center;
      align-items: center;
      width: 5.5625rem;
      height: 2.5rem;
      border-radius: 0.5rem;
      font: var(--button);
      color: var(--text-title);

      background-color: var(--pink-dark);

      cursor: pointer;

      &[aria-label]::before {
        content: attr(aria-label);
        position: absolute;
      }

      &::after {
        content: "";
        position: absolute;
        width: 5.5625rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        background-color: var(--pink-base);
        opacity: 0;
        transform: scale(0);

        transition: all 800ms ease;
      }

      &:hover::after {
        content: "";
        position: absolute;
        transform: scale(1);
        opacity: 0.4;
      }
    }
  }
}

@media (width >= 80em){
  header{
    width: inherit;
    top: 3.5rem;
    & nav {
      padding-inline: 10rem;

      & .logo {
        background: url(../assets/icon/logo-horizontal.svg) no-repeat
          center/contain;
        width: 14.375rem;
        height: 3.625rem;
      }
    }
  }
}