#subtitle {
  position: relative;
  width: inherit;
  padding-inline: 1.25rem;
  margin-top: 2rem;

  opacity: 0;
  animation: appear 3s ease-in-out 1.5s forwards;

  & .subtitle-wrapper {
    position: relative;
    width: inherit;

    & .icons:nth-child(1) {
      position: absolute;
      top: -3.125rem;
      right: 3.825rem;
      width: 2.5rem;
      height: 2.5rem;

      background: url(../assets/icon/book-mistery.svg) no-repeat center/contain;
    }
    & .icons:nth-child(2) {
      position: absolute;
      bottom: -1rem;
      left: 0.75rem;
      width: 2rem;
      height: 2rem;

      background: url(../assets/icon/heart.svg) no-repeat center/contain;

      rotate: 230deg;
    }
    & .icons:nth-child(3) {
      position: absolute;
      bottom: -2.5rem;
      right: 0.75rem;
      width: 2.5rem;
      height: 2.5rem;

      background: url(../assets/icon/globo.svg) no-repeat center/contain;

      rotate: 30deg;
    }

    & p {
      text-align: center;
      font: var(--body-md-regular);
    }
  }
}

@media (width >= 80em) {
  #subtitle {
    padding-block: 6rem;

    & .subtitle-wrapper {
      position: relative;
      width: inherit;

      animation: scaleIcon 500ms linear forwards;

      & .icons:nth-child(1) {
        position: absolute;
        top: -5rem;
        right: 35.175rem;
        width: 5rem;
        height: 5rem;

        background: url(../assets/icon/book-mistery.svg) no-repeat
          center/contain;

        animation: disappear 0.5s ease-in 1s forwards;  
        
        &:hover {
          transform: scale(1.2) rotate(10deg);
          transition: all 0.3s ease-in;
        }
      }

      & .icons:nth-child(2) {
        position: absolute;
        bottom: -5rem;
        left: 1.75rem;
        width: 5rem;
        height: 5rem;

        background: url(../assets/icon/heart.svg) no-repeat center/contain;

        rotate: 355deg;
        animation: disappear 0.5s ease-in .5s forwards; 

        &:hover {
          transform: scale(1.2) rotate(10deg);
          transition: all 0.3s ease-in;
        }
      }

      & .icons:nth-child(3) {
        position: absolute;
        bottom: -4rem;
        right: -0.75rem;
        width: 4.5rem;
        height: 4.5rem;

        background: url(../assets/icon/globo.svg) no-repeat center/contain;

        rotate: -5deg;
        animation: disappear 0.5s ease-in forwards; 
        
        &:hover {
          transform: scale(1.2) rotate(10deg);
          transition: all 0.3s ease-in;
        }
      }

      & p {
        width: 75rem;
        font: var(--subtitle);
        color: var(--text-body);

        & span {
          font-weight: 900;
          color: var(--blue-light);

          &:nth-child(3) {
            display: none;
          }
        }
      }
    }
    &:hover .icons:nth-child(1) {
      animation: animation-Appear 0.5s ease-in both;
    }
    &:hover .icons:nth-child(2) {
      animation: animation-Appear 0.5s ease-in 1s both;
    }
    &:hover .icons:nth-child(3) {
      animation: animation-Appear 0.5s ease-in 2s both;
    }
  }
}
